@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  z-index: 0;
}

/* Custom marker styling */
.custom-marker {
  background: transparent !important;
  border: none !important;
}
